.button {
	background-color: $blue;
	border: none;
	color: white;
    display: inline-block;
	font-size: $font-size-large;
	font-weight: 300;
    line-height: 1;
	padding: $s-size;    
    text-decoration: none;

    &--link { // Overwrite only for the header button
        background-color: transparent;
    }

    &--secondary {
        background-color: #888888;
    }

    &+button {
        margin-left: 5px;
    }
}
