// Colors
$dark-gray: #333333;
$grey: #666666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;

// Font Size
$font-size-large: 1.8rem;
$font-size-small : 1.4rem;

// Spacing
$m-size: 1.6rem; // Medium

$s-size: ($m-size / 1.3); // Small
$l-size: $m-size * 2; // Large
$xl-size: $m-size * 3; // Extra Large

$desktop-breakpoint: 45rem;
